name: CI-CD

on:
  push:
    branches:
    - main
  workflow_dispatch:    


jobs:
  CI:
    name: Verificando codigo 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v6

      # - name: Setup Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 20
      #     cache: 'yarn'

      # - name: Install Dependencies
      #   run: yarn install --frozen-lockfile

      # # Executa os testes e gera o relatório de cobertura (LCOV)      
      # - name: Testes de Cobertura de codigo 
      #   run: yarn test:coverage 
      #   continue-on-error: true # Permite que o Sonar analise mesmo se alguns testes falharem


      - name: SonarQube Scaneando Codigo
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
  Build:
    name: Build on Docker Hub
    needs: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3  

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/netflix-clone:v1
            
          build-args: |
            TMDB_V3_API_KEY=${{ secrets.TMDB_V3_API_KEY }}

# Deploy do cluster kubernetes
  Infraestrutura:
    name: Infraestrutura com Terraform
    needs: Build
    runs-on: ubuntu-latest
    steps:
       - name: Configure AWS Credentials
         uses: aws-actions/configure-aws-credentials@v5.1.0
         with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

       - name: Checkout Code
         uses: actions/checkout@v6  

       - name: Instalando Terraform
         uses: hashicorp/setup-terraform@v3 

       - name: Terraform Init
         run: terraform init
         working-directory: ./terraform

       - name: Terraform Apply
         run: terraform apply -auto-approve
         working-directory: ./terraform

# Deploy da aplicação no kubernetes

  Deploy_kubernetes:
      name: Deploy da aplicação
      needs: Infraestrutura
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v6  

        - name: Baixar policy oficial do AWS Load Balancer Controller
          run: |
            mkdir -p terraform/modulos/load-balancer 
            curl  -sSL -o terraform/modulos/load-balancer/iam_policy.json \ 
            https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.13.3/docs/install/iam_policy.json

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v5.1.0
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1

        - name: Configurando Kubeconfig
          run: aws eks update-kubeconfig --name proj-netflix-clone-eks-cluster --region us-east-1 
          
        - name: Deploy da aplicação
          run: |
           kubectl apply -f deployment.yaml 
           kubectl apply -f ingress.yaml 
           kubectl apply -f service.yaml   
        
        - name: URL da aplicação
          run: kubectl get ingress   
  